<a href="https://colab.research.google.com/github/kmt81282/ActivityProject/blob/main/ProjectUKG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install Faker

Collecting Faker
  Downloading Faker-19.13.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 19.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: Faker
Successfully installed Faker-19.13.0

In [73]:
import sqlite3
from faker import Faker

In [74]:
import sqlite3

# Database file path
DATABASE_PATH = 'UKG_Project.db'  # e.g., 'simulated_data.db'

# Connect to the database
conn = sqlite3.connect(DATABASE_PATH)
cursor = conn.cursor()

# Create empPers table
cursor.execute("""
CREATE TABLE empPers (
    auditKey INTEGER,
    empEEID INTEGER NOT NULL UNIQUE PRIMARY KEY,
    empFirstName TEXT NOT NULL,
    empLastName TEXT NOT NULL,
    empPersonalEmail TEXT UNIQUE NULL,
    empdateOfBirth DATE NOT NULL,
    empSSN INTEGER NOT NULL,
    empGender VARCHAR(1) NULL,
    empAddressLineOne VARCHAR(50) NULL,
    empCity VARCHAR(25) NULL,
    TaxlocalZip INTEGER NULL,
    empState VARCHAR(25) NULL
)
""")

# Create empComp table
cursor.execute("""
CREATE TABLE empComp (
    auditKey INTEGER PRIMARY KEY AUTOINCREMENT,
    eecDateOfOriginalHire Date NOT NULL,
    eecDateOfTermination Date NULL,
    empEEID INTERGER,
    eecWorkEmail TEST UNIQUE NULL,
    jobJobCode VARCHAR(6) NOT NULL,
    payPayGroup VARCHAR(3) NOT NULL,
    FOREIGN KEY (empeeID) REFERENCES empPers(empeeID),
    FOREIGN KEY (jobJobCode) REFERENCES jobs(jobJobCode),
    FOREIGN KEY (payPayGroup) REFERENCES payGroup(payPayGroup)

)
""")

# Create Job table
cursor.execute("""
CREATE TABLE jobs (
    jobJobCode INTEGER UNIQUE NOT NULL,
    jobJobDesc VARCHAR(200) NOT NULL,
    jobRateOfPay REAL NOT NULL,
    jobSalaryOrHourly VARCHAR(1) NOT NULL,
    PRIMARY KEY ("jobjobCode")
)
""")

# Create earn table
cursor.execute("""
CREATE TABLE earning (
    earnCode VARCHAR(6) NOT NULL UNIQUE PRIMARY KEY,
    earnDesc VARCHAR(200) NOT NULL
)
""")

# Create Pay Group
cursor.execute("""
CREATE TABLE payGroup (
    payPayGroup VARCHAR(6) NOT NULL UNIQUE PRIMARY KEY,
    earnCodes VARCHAR(200) NOT NULL,
    payFrequency VARCHAR(1) NOT NULL

)
""")



conn.commit()
cursor.close()
conn.close()

print("Tables created!")

Tables created!

In [75]:
# Connect to the database
conn = sqlite3.connect(DATABASE_PATH)
cursor = conn.cursor()

fake = Faker()

# Number of records to generate
NUM_empPers = 100
NUM_empComp = 100
NUM_job = 20
NUM_earn = 3

print("Varables Created")

Varables Created

In [76]:
# Insert empPers information

empEEID = 9900
for _ in range(NUM_empPers):
    empEEID = empEEID + 100
    empFirstName = fake.first_name()
    empLastName = fake.last_name()
    tempEmail = [empFirstName, empLastName, '@', fake.free_email_domain()]
    empPersonalEmail = ''.join(tempEmail)
    empDateOfBirth = fake.date_of_birth(None,18,72)
    empSSN = fake.ssn()
    tempGender = fake.null_boolean()
    if tempGender == 0:
                  empGender = 'M'
    elif tempGender == 1:
                  empGender = 'F'
    else: empGender = 'N'
    empAddressLineOne = fake.street_address()
    empCity = fake.city()
    taxLocalZip = fake.postcode()
    empState = fake.state()



    cursor.execute(
        "INSERT INTO empPers (empFirstName, empLastName, empPersonalEmail, empDateOfBirth, empSSN, empEEID, empGender, empAddressLineOne, empCity, TaxLocalZip, empState) VALUES (?, ?, ?, ?, ?, ?, ?, ?,?, ?, ?)",
        (empFirstName, empLastName, empPersonalEmail, empDateOfBirth, empSSN, empEEID, empGender, empAddressLineOne, empCity, taxLocalZip, empState)

    )

In [ ]:
from pickle import TRUE
# Insert empComp
empEEID = 9900
for _ in range(NUM_empComp):
    eecdateOfOriginalHire = fake.date_this_decade(TRUE)  # Running date from decade before today
    empEEID = empEEID + 100
    jobJobCode = fake.random_int(min = 1100, max = 4000, step = 100)
    tempPayGroup = fake.null_boolean()
    if tempPayGroup == '0':
      payPayGroup = 'WKL'
    elif tempPayGroup == '1':
      payPayGroup = 'BWK'
    else: payPayGroup = 'SML'
    cursor.execute(
        "INSERT INTO empComp (eecdateOfOriginalHire, empeeID, jobjobCode, payPayGroup) VALUES (?,?,?, ?)",
        (eecdateOfOriginalHire, empEEID, jobJobCode, payPayGroup)
    )

In [78]:

# Insert jobs
jobJobCode = 1000
for _ in range(NUM_job):
    jobJobCode = jobJobCode + 100
    jobJobDesc = fake.job()
    jobRateOfPay = fake.random_number(digits=4, fix_len=False) / 100
    tempjobSalaryOrHourly = fake.boolean(chance_of_getting_true=50)
    if tempjobSalaryOrHourly is True:
                                jobSalaryOrHourly = 'S'
    else: jobSalaryOrHourly = 'H'
    cursor.execute(
        "INSERT INTO jobs (jobJobCode, jobJobDesc, jobRateOfPay, jobSalaryOrHourly) VALUES (?, ?,?, ?)",
        (jobJobCode, jobJobDesc, jobRateOfPay, jobSalaryOrHourly)
    )

In [81]:
# Insert earning code

    cursor.execute(
        "INSERT INTO earning (earnCode, earnDesc) VALUES ('REG','Regular Earning')"
        "INSERT INTO earning (earnCode, earnDesc) VALUES ('REG','Regular Earning')",

    )

IndentationError: ignored

In [56]:
conn.commit()
cursor.close()
conn.close()

print("Simulation data inserted!")

Simulation data inserted!