<a href="https://colab.research.google.com/github/kmt81282/ActivityProject/blob/main/ProjectUKG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install Faker

Collecting Faker
  Downloading Faker-19.13.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 16.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: Faker
Successfully installed Faker-19.13.0

In [107]:
import sqlite3
from faker import Faker

In [108]:
import sqlite3

# Database file path
DATABASE_PATH = 'UKG_Project.db'  # e.g., 'simulated_data.db'

# Connect to the database
conn = sqlite3.connect(DATABASE_PATH)
cursor = conn.cursor()

# Create empPers table
cursor.execute("""
CREATE TABLE empPers (
    auditKey INTEGER PRIMARY KEY,
    empEEID INTEGER NOT NULL UNIQUE,
    empFirstName TEXT NOT NULL,
    empLastName TEXT NOT NULL,
    empPersonalEmail TEXT UNIQUE NOT NULL,
    empdateOfBirth DATE NOT NULL,
    empSSN INTEGER NOT NULL,
    empGender VARCHAR(1) NULL
)
""")

# Create empComp table
cursor.execute("""
CREATE TABLE empComp (
    auditKey INTEGER PRIMARY KEY AUTOINCREMENT,
    eecDateOfOriginalHire Date NOT NULL,
    eecDateOfTermination Date NULL,
    empEEID INTERGER,
    eecWorkEmail TEST UNIQUE NULL,
    jobJobCode VARCHAR(6),
    FOREIGN KEY (empeeID) REFERENCES empPers(empeeID),
    FOREIGN KEY (jobJobCode) REFERENCES jobs(jobJobCode)

)
""")

# Create Job table
cursor.execute("""
CREATE TABLE jobs (
    AuditKey INTEGER PRIMARY KEY AUTOINCREMENT,
    jobJobCode VARCHAR(6) NOT NULL UNIQUE,
    jobJobDesc VARCHAR(200) NOT NULL,
    jobRateOfPay REAL NOT NULL
)
""")

# Create earn table
cursor.execute("""
CREATE TABLE jobs (
    AuditKey INTEGER PRIMARY KEY AUTOINCREMENT,
    earnCode VARCHAR(6) NOT NULL UNIQUE,
    earnDesc VARCHAR(200) NOT NULL,
    earnType VARCHAR(3)
)
""")

conn.commit()
cursor.close()
conn.close()

print("Tables created!")

Tables created!

In [109]:
# Connect to the database
conn = sqlite3.connect(DATABASE_PATH)
cursor = conn.cursor()

fake = Faker()

# Number of records to generate
NUM_empPers = 100
NUM_empComp = 100
NUM_job = 20

print("Varables Created")

Varables Created

In [110]:
# Insert empPers information

empEEID = 9900
for _ in range(NUM_empPers):
    empEEID = empEEID + 100
    empFirstName = fake.first_name()
    empLastName = fake.last_name()
    tempEmail = [empFirstName, empLastName, '@', fake.free_email_domain()]
    empEmail = ''.join(tempEmail)
    empDateOfBirth = fake.date_of_birth(None,18,72)
    empSSN = fake.ssn()
    tempGender = fake.null_boolean()
    if tempGender == 0:
                  empGender = 'M'
    elif tempGender == 1:
                  empGender = 'F'
    else: empGender = 'N'

    cursor.execute(
        "INSERT INTO empPers (empFirstName, empLastName, empemail, empDateOfBirth, empSSN, empEEID, empGender) VALUES (?, ?, ?, ?, ?, ?, ?)",
        (empFirstName, empLastName, empEmail, empDateOfBirth, empSSN, empEEID, empGender )

    )

In [111]:
from pickle import TRUE
# Insert empComp
empEEID = 9900
for _ in range(NUM_empComp):
    eecdateOfOriginalHire = fake.date_this_decade(TRUE)  # Running date from decade before today
    empEEID = empEEID + 100
    jobJobCode = fake.random_int(min = 1100, max = 4000, step = 100)
    cursor.execute(
        "INSERT INTO empComp (eecdateOfOriginalHire, empeeID, jobjobCode) VALUES (?,?,?)",
        (eecdateOfOriginalHire, empEEID, jobJobCode)
    )

In [112]:
# Insert jobs
jobJobCode = 1000
for _ in range(NUM_job):
    jobJobCode = jobJobCode + 100
    jobJobDesc = fake.job()
    jobRateOfPay = fake.random_number(digits=4, fix_len=False) / 100
    cursor.execute(
        "INSERT INTO jobs (jobJobCode, jobJobDesc, jobRateOfPay) VALUES (?, ?,?)",
        (jobJobCode, jobJobDesc, jobRateOfPay)
    )

In [113]:
conn.commit()
cursor.close()
conn.close()

print("Simulation data inserted!")

Simulation data inserted!