<a href="https://colab.research.google.com/github/kmt81282/ActivityProject/blob/main/UKG_Project_v1_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
!pip install Faker

Requirement already satisfied: Faker in /usr/local/lib/python3.10/dist-packages (20.0.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [162]:
import sqlite3
from faker import Faker

In [163]:

import sqlite3
import os
import random

database_name = 'UKG_Project_v_01.db'

# Check if the database file already exists
if os.path.exists(database_name):
    # If it exists, delete the old file
    os.remove(database_name)

# Connect to the database (or create a new one if it doesn't exist)
conn = sqlite3.connect(database_name)

# Create a cursor object to execute SQL statements
cursor = conn.cursor()

# SQL statement to create the Employee_Personal_Table
create_table_query = '''
CREATE TABLE IF NOT EXISTS Employee_Personal (
    EEID VARCHAR(15) PRIMARY KEY,
    emp_First_Name VARCHAR(50) NOT NULL,
    emp_Last_Name VARCHAR(50) NOT NULL,
    emp_Middle_Name VARCHAR(50) NOT NULL,
    emp_Date_Of_Birth DATE NOT NULL,
    emp_SSN VARCHAR(10) NOT NULL,
    emp_Address_Line1 VARCHAR(25) NOT NULL,
    emp_City VARCHAR(25) NOT NULL,
    emp_Zip_Code VARCHAR(5) NOT NULL,
    emp_State VARCHAR(2) NOT NULL,
    emp_Country VARCHAR(3) NOT NULL,
    emp_Gender VARCHAR(1) NULL
);
'''
# Execute the SQL statement
cursor.execute(create_table_query)
print("Employee Personal Created")

# SQL statement to create the Department Table
create_table_query = '''
CREATE TABLE IF NOT EXISTS department (
    department_ID INT NOT NULL PRIMARY KEY,
    deparment_name VARCHAR(50),
    dep_head_EEID VARCHAR(15)
);
'''
# Execute the SQL statement
cursor.execute(create_table_query)
print("Department Created")

# Commit the changes and close the connection
conn.commit()
conn.close()

Employee Personal Created
Department Created

In [164]:

# Connect to the database
conn = sqlite3.connect(database_name)
cursor = conn.cursor()

fake = Faker()

# Number of records to generate
NUM_Employee_Personal = 100
NUM_deparment = 5
#NUM_job = 20
#NUM_earn = 3

print("Varables Created")

Varables Created

In [159]:
# Insert Employee Personal
EEID = 9000001

gender = ['M','F','N', '']

for _ in range(NUM_Employee_Personal):
    EEID = EEID
    emp_First_Name = fake.first_name()
    emp_Last_Name = fake.last_name()
    emp_Middle_Name = fake.first_name()
    emp_Date_Of_Birth = fake.date_of_birth(None,18,65)
    emp_SSN = fake.ssn()
    emp_Address_Line1 = fake.street_address()
    emp_City = fake.city()
    emp_Zip_Code = fake.postalcode()
    emp_State = fake.state_abbr(include_territories=False, include_freely_associated_states=False)
    emp_Country = 'USA'
    emp_Gender = random.choice(gender)
    cursor.execute(
        "INSERT INTO Employee_Personal (EEID, emp_First_Name, emp_Last_Name, emp_Middle_Name, emp_Date_Of_Birth, emp_SSN, emp_Address_Line1, emp_City, emp_Zip_Code, emp_State, emp_Country, emp_Gender) VALUES (?,?,?,?, ?, ?, ?, ?,?,?,?,?)",
        (EEID, emp_First_Name, emp_Last_Name, emp_Middle_Name, emp_Date_Of_Birth, emp_SSN, emp_Address_Line1, emp_City, emp_Zip_Code, emp_State, emp_Country, emp_Gender)
    )
    EEID += 1

In [160]:

# Insert Department Options
create_table_query = '''
INSERT INTO department (department_ID, deparment_name, dep_head_EEID) VALUES
    (1, 'Human Resources', 'HR_Head1'),
    (2, 'Finance', 'Finance_Head1'),
    (3, 'Information Technology', 'IT_Head1'),
    (4, 'Marketing', 'Marketing_Head1'),
    (5, 'Operations', 'Operations_Head1');
'''
# Execute the SQL statement
cursor.execute(create_table_query)

print("Departments Imported")

Departments Imported

In [165]:
#Update Department Head

countID = 1

for _ in range(NUM_deparment):
    dep_head_EEID = fake.random_int(min= 9000001, max = (9000001 + NUM_Employee_Personal), step = 1)
    cursor.execute(
            "UPDATE department set dep_head_EEID = ? WHERE department_ID = ?",
            (dep_head_EEID, countID))
    countID == countID + 1

In [166]:
conn.commit()
cursor.close()
conn.close()

print("Simulation data inserted!")

Simulation data inserted!